/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	background-color: #f9a89f;
	border: #f9a89f;
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 900px

}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: white;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #f9a89f;
	color: black;
	padding: 15px;
}

